<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Список продуктов:</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="products" type="com.geekbrains.entities.Product"*/-->
    <!-- Без th:utext выводились просто символы вида ${s.id}, не знаю почему -->
    <tr th:each="s : ${products}">
        <td th:utext="${s.id}"></td>
        <td th:utext="${s.name}"></td>
        <td th:utext="${s.price}"></td>
        <td>
            <form th:action="@{/products/edit_form_product/} +${{s.id}}" method="POST">
                <input type="submit" value="Edit"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">на Главную страницу</a>
</body>
</html>